:host {
  display: block;
}

.event-card {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  &__img{
      width: 220px;
      height: 170px;
      object-fit: cover;
      border-radius: 5px;
  }
  &__info{
      box-sizing: border-box;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 170px;
      button{
        width: 180px;
      }
  }
  &__name{
      font-size: 1.6rem;
  }
  &__type{
      width: fit-content;

  }
  &__desc{
    width: 100%;
    padding: 10px;
  }
}