<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <img mat-card-image src="/assets/img/logotran.png" alt="eventa logo">
    <span>eventa</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    <button mat-raised-button color="accent" (click)="this.authenticationService.logout()">Logout</button>
</mat-toolbar>

<app-home-sidenav>
    <router-outlet></router-outlet>
</app-home-sidenav>