.mat-card-image{
  width: 200px;
  height: 200px;
  object-fit: scale-down;

}
.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  width: 320px;
  max-width: 100%;
}

.example-container .mat-form-field + .mat-form-field {
margin-left: 8px;
}

.example-right-align {
text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
display: none;
}

input.example-right-align {
-moz-appearance: textfield;
}

.login{
  //   position: fixed;
  //   top:50%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  //   width: 350px;
  //   max-width: 100vw;
  width: 100vw;   
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat-form-field {
    width: 100%;

}

.alert{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.alert.alert-danger{
    background-color: rgb(238, 128, 128);
    border-color: rgb(236, 37, 37);
}